@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>InoxicoCore</h1>
    <p class="lead">If you are seeing this, then you're logged into core</p>
    @using (Html.BeginForm())
    {       
        <button name="OK">Go To Fake Core</button>
    }
</div>