
@{
    ViewBag.Title = "Intended Application";
}
@section scripts {
    <script src="~/Content/oidc-client.js"></script>
    <script>
        Oidc.Log.logger = console;
        Oidc.Log.level = Oidc.Log.NONE;
        var scope = 'openid profile read write offline_access';
        var response_type = 'id_token token';

        var manager = new Oidc.UserManager({
            post_logout_redirect_uri: 'https://localhost:44302/IntendedLocation',
            redirect_uri: 'https://localhost:44302/IntendedLocation',
            authority: 'https://localhost:44301',
            client_id: 'inox_login',
            scope: scope,
            response_type: response_type,
            automaticSilentRenew: false,
            loadUserInfo: true
        });

        var user = null;

        manager.getUser().then(u => {
            user = u;
            setState();
        });

        manager.signinRedirectCallback().then(u => {
                user = u;
                setState();
            });

        var loginLogoutButton = document.getElementById('loginLogoutButton');
        var tokenInfoSpan = document.getElementById('tokenInfoSpan');

        loginLogoutButton.onclick = function (ev) {
            if (user != null) {
                manager.signoutRedirect({}).then(x => {
                    user = null;
                    setState();
                });
            } else {
                manager.signinRedirect({ scope: scope, response_type: response_type }).then(x => {});
            }
        }

        function setState() {
            if (user != null) {
                loginLogoutButton.innerText = "Logout";
            } else {
                loginLogoutButton.innerText = "Login";
            }
            displayToken();
        }

        function displayToken() {
            if (user != null) {
                var access_token = user.access_token;
                var parts = access_token.split('.');
                var middlePartText = atob(parts[1])
                tokenInfoSpan.innerText = middlePartText;

            } else {
                tokenInfoSpan.innerText = "";
            }
        }
    </script>
}

<h2>Welcome to the Intended Application</h2>

<button id="loginLogoutButton">Login</button>

<span id="tokenInfoSpan"></span>
