@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Third Party App Landing Page After Log In</h1>
    <h3>You're Logged in to third party app</h3>
    <p>@Html.ActionLink("Go to Target App", "GoToTargetApp")</p>
    <p>@Html.ActionLink("Log out", "Signout")</p>
</div>
