@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Third Party App Landing Page After Log In</h1>
    <h3>You're Logged in</h3>
    <p>This is the application the 3rd party client is using. Click on the GoTo button below to login to the desired Target Application using your 3rd party credentials.</p>
    <p>@Html.ActionLink("Go to Target App", "GoToTargetApp")</p>
    <p>@Html.ActionLink("Log out", "Signout")</p>
</div>
